@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBg {
  background: radial-gradient(#D678ED, #4A005D);
}

.bg-image {
  background-image: url('../assets/loginBg.jpg');
  background-size: cover;
  background-position: 50% 60%;
  width: 100vw;
  height: 100vh;
}