@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBg {
  background: radial-gradient(#D678ED, #4A005D);
}

body {
  background-color: #080808;
}

.bg-image {
  background-image: url('../assets/loginBg.jpg');
  background-size: cover;
  background-position: 50% 60%;
  width: 100vw;
  height: 100%;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(50%)
}

.loader {
  border: 16px solid #000000;
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.75s linear infinite;
}

.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.363) #18181800;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}